
:root {
    /*COLORS*/

    --onyx: hsl(0, 0%, 25%);
    --azure: hsl(219, 77%, 68%);
    --white: hsl(0, 0%, 100%);
    --platinum: hsl(0, 0%, 91%);
    --gainsboro: hsl(0, 0%, 98%);
    --red-salsa: hsl(0, 77%, 60%);
    --dim-gray: hsl(0, 0%, 39%);
    --davys-gray: hsl(0, 0%, 38%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);

    /*FONT-SIZE*/

    --fs-28: 28px;
    --fs-24: 24px;
    --fs-18: 18px;
    --fs-15: 15px;
    --fs-14: 14px;

    /*FONT-WEIGHT*/
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;

    /*OTHER*/

    --px: 60px;
    --radius: 5px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sand 3', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

bx-cart, bx-credit-card, bxs-check-circle, bxl-paypal, bx-trash-alt, bx-plus-circle, bx-x-circle, span {
    display: inline-block;
}

label, img {
    display: block;
}

input {
    font: inherit;
    width: 100%;
    /*border: none;*/
}

input:focus {
    outline: 2px solid var(--azure);
}

/*Remove number inout up & down*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}


/*Custom scrollbar style*/

::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-track {background:transparent;}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 70%);}


/*MAIN CONTAINER*/

.container {
    max-width: 1448px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--onyx);
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display: flex;
    align-items: center;
    gap: 20px;

}

.heading i {
    font-size: 48px;
}