
:root {
    /*COLORS*/

    --onyx: hsl(0, 0%, 25%);
    --azure: hsl(219, 77%, 68%);
    --white: hsl(0, 0%, 100%);
    --platinum: hsl(0, 0%, 91%);
    --gainsboro: hsl(0, 0%, 98%);
    --red-salsa: hsl(0, 77%, 60%);
    --dim-gray: hsl(0, 0%, 39%);
    --davys-gray: hsl(0, 0%, 38%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);

    /*FONT-SIZE*/

    --fs-28: 28px;
    --fs-24: 24px;
    --fs-18: 18px;
    --fs-15: 15px;
    --fs-14: 14px;

    /*FONT-WEIGHT*/
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;

    /*OTHER*/

    --px: 60px;
    --radius: 5px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sand 3', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

bx-cart, bx-credit-card, bxs-check-circle, bxl-paypal, bx-minus-circle, bx-plus-circle, bx-x-circle, span {
    display: inline-block;
}

label, img {
    display: block;
}

input {
    font: inherit;
    width: 100%;
    border: none;
}

input:focus {
    outline: 2px solid var(--azure);
}

/*Remove number inout up & down*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}


/*Custom scrollbar style*/

::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-track {background:transparent;}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 70%);}


/*MAIN CONTAINER*/

.container {
    max-width: 1448px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--onyx);
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display: flex;
    align-items: center;
    gap: 20px;

}

.heading i {
    font-size: 48px;
}

.item-flex {
    display: flex;
    flex-grow: 1;
}

.checkout {
    width: 70%;
    padding: 40px var(--px);
    background: var(--white);
    border-right: 1 solid var(--gainsboro);
}

.section-heading {
    color: var(--onyx);
    margin-bottom: 30px;
    font-size: var(--fs-24);
    font-size: var(--fw-5);
}

.payment-form {
    margin-bottom: 40px;
}

.payment-method {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.payment-method .method {
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
}

.payment-method .selected {
    border-color: var(--azure);

}
.payment-method .method i {font-size: 20px;}

.payment-method .method .bxs-check-circle {
    margin-left: auto;
    color: var(--quick-silver);
}

.payment-method .method .fill {
    color: var(--azure);
}

.label-default {
    padding: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-14);
    color: var(--spanish-gray);
}

.input-default {
    background: var(--platinum);
    border-radius: var(--radius);
    color: var(--davys-gray);
    margin-bottom: 5px; 
}

.payment-form input {
    padding: 10px 15px;
    font-size: var(--fs-18);
    font-weight: var(--fw-5);
}

.cardholder-name, .card-number {
    margin-bottom: 20px;

}

.cardholder-name input, .cvv input {
    letter-spacing: 3px;

}

.input-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv
 {width: 50%;

}

 .expire-date .input-flex {
    color: var(--spanish-gray);
    gap: 13px;
}

.expire-date .input-flex input {
    text-align: center;
}

.btn {
    border-radius: var(--radius);
}

.btn:active {
    transform: scale(0.99);
}

.btn:focus {
    color: var(--white);
    background: var(--azure);
    outline: 2px solid var(--azure);
    outline-offset: 2px;
}

.btn-primary {
    background: var(--azure);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 13px 45px;
}

.btn-primary b {
    margin-right: 10px;

}

/*CART SECTION*/

.cart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
}

.product-card:not(:last-child) {
    margin-bottom: 20px;
}

.product-card .card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.card .product-img {
    border-radius: var(--radius);
}

.card .detail .product-name {
    font-weight: var(--fw-6);
    font-size: var(--fs-15);
    color: var(--dim-gray);
    margin-bottom: 10px;

}

.card .detail .wrapper {
    display: flex;
    gap: 20px;

}

.product-qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-qty button {
    background: var(--platinum);
    width: 20px;
    height: 20px;

}